html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  min-height: 100vh;
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background 0.3s, color 0.3s;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
